{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colors.css') }}"> -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script> -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<!-- <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script> -->

{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" style="margin-bottom: 0px">
  <div class="container">
    <div class="navbar-header">

      <button class="btn btn-default btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="float: right;">
        <span class="glyphicon glyphicon-th">
        Menu
      </button>

      <a class="navbar-brand" href="/" style="font-style: normal;">Duck detector: Or how I learned to stop worrying and find poop ducks</a>

    <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/" style="color:grey;">Search for a duck</a></li>
       </ul>
    </div>

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% block footer %}
<hr>
<footer class="footer" style="color:white">
The duck detector was created with open source tools is open source itself <a href="https://github.com/matthew-sochor/duck-detector/blob/master/LICENSE">MIT license</a>
<br> Want to check out the source?  <a href="https://github.com/matthew-sochor/duck-detector">Duck Detector on Github</a>
<br> Have some feedback?  <a href="mailto:matthew.sochor@gmail.com?Subject=Duck%20detector">Send me an email</a>
</footer>
{% endblock footer %}
{% endblock %}
